{% extends 'base.html' %}

{% block title %}
    <title>Persons</title>
{% endblock %}

{% block body %}
<a class="btn btn-success" href="{% url 'persons-add' %}">Add person</a>
<hr>
<table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.age }}</td>
            <td>
                <a class="btn btn-info" href="{% url 'persons-detail' id=item.id %}">View</a>
                <a class="btn btn-info" href="{% url 'persons-update' id=item.id %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'persons-delete' id=item.id %}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}